<!DOCTYPE html>
<html >
  <head>
    <title>Login</title>
    <div class="col-sm-3">
    <marquee>Pizzas Jorge</marquee>
    </div>
    <div class="col-sm-3">

    <marquee direction="right"> Pizzas Jorge</marquee>
    </div>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body background="http://files.alimentos-akira.webnode.com.ve/200000008-8b08d8c031/pizza.png">

    <h1>Login</h1>

    <% if (req.session.me) { %>
    <a href="/logout" style="color: brown">Logout</a>
    <% } else { %>
    <a href="/login" style="color: brown">Login</a> | <a href="/signup" style="color:" >Registrarse</a>
    <% } %>


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
