
<body background-color="#cccccc">
<h1 style="color: darkred">Login Usuario</h1>

<IMG SRC="http://www.pizzahut-tt.com/wp-content/uploads/2013/06/pizza-hut-trinidad-and-tobago-pepperoni-lovers-pizza.png" ALT="pizza">

<h2 style="color: brown ">Ingrese sus datos porfavor</h2>

<form action="/login" method="post">

  <label for="email">Direccion email</label>
  <input name="email" type="text"/>
  <br/>
  <h1></h1>
  <label for="password">Password</label>
  <input name="password" type="password"/>
  <br/>
  <input class="btn" type="submit"/>
</form>

</body>
